@page "/404"
<body style="background-color: #F0FF79;">
<div id="wrapper">
    <div class="container">

        <div id="light" class="row text-center">
            <!-- Info -->
            <div class="info">
                <img src="images/404.gif" alt="404 error">
                <h4>
                    The page you are looking for was moved, removed,
                    renamed or never existed.
                </h4>
                <a href="/" class="btn">Home</a>
            </div>

        </div>


    </div>

</div>
</body>